@{
	ViewBag.Title = "Confirm Delete";
}

<div class="card text-center" style="width: 18rem;display:block;margin-left: auto; margin-right:auto">
    <div class="card-body">
        <h5 class="card-title">Confirm Delete</h5>
        <p class="card-text">Are you sure you want to delete this pen?</p>
        <form method="post">
            <button type="submit" asp-controller="Pen" asp-action="Delete" class="btn text-danger">Delete</button>
            <button type="submit" asp-controller="Pen" asp-action="All" class="btn">Cancel</button>
        </form>
    </div>
</div>
